---
import ImageCard from "../components/ImageCard.astro"
import AboutAccordion from "../components/AboutAccordion"
import '../styles/global.css';
import intro from "../assets/about.jpg"
import mission from "../assets/mission.png"
import { Image } from 'astro:assets';
import svg2 from '../assets/wave-haikei4.svg'
import svg3 from '../assets/wave-haikei1.svg'
import svg4 from '../assets/stacked-waves-haikei1.svg'
import Officer from "./Officer.astro";

---
<div>
    <div class="h-full bg-[rgb(0,87,163)] mb-0">
        <h1 class="heading ml-2">About Us</h1>
        
        <div class="sm:grid sm:grid-cols-2 sm:gap-10">
            <div class="text-white m-2 mb-0 text">
                <h2 class="heading">Introduction</h2>
                <div class="sm:hidden m-2">
                    <div class="p-8 bg-[rgb(0,81,151)] rounded-3xl">
                        <Image src={intro} alt="about us" class="rounded-3xl"/>
                    </div>                
                </div>
                    <p>The ACS student affiliates program offers undergraduate students majoring in chemistry or a related science the support, privileges, and benefits of the largest scientific professional society in the world. There are over 970 chapters at colleges and universities in the U.S. and Puerto Rico.
                <br/>
                <br/>
                Based on an annual report of its activities, the UH chapter was among a group of chapters selected for recognition by the ACS Committee on Education.
                <br/>
                <br/>
                Professor Simon Bott and UH staff member Kim Fletcher, advisors of the chapter, “deserve special commendation,” stated a letter from the ACS Office of the President. “Few faculty members are willing to make the great commitment of time and energy that a successful chapter requires of its advisors. It takes more than exceptional effort to be an award-winning chapter; it takes the nurturing attention of dedicated advisors. Bott’s and Fletcher’s efforts certainly represent the best in undergraduate science education and mentoring around the country."</p>
            
            </div>
            <div class="hidden sm:block m-2">
                <div class="p-8 bg-[rgb(0,81,151)] rounded-3xl">
                    <Image src={intro} alt="about us" class="rounded-3xl"/>
                </div>
            </div>
        </div>
    </div>
    <img src={svg3.src} alt="svg" class="sm:hidden w-full">
    <img src={svg4.src} alt="svg" class="hidden sm:block w-full">
    <div class="h-full bg-white text">
        <div class="sm:grid sm:grid-cols-2 sm:gap-10">
        
            <div class="hidden sm:block m-2">
                <div class="p-8 bg-[rgb(253,220,128)] rounded-3xl">
                <Image src={mission} alt="mission" class="rounded-3xl"/>
                </div>
            </div>
            <div class="text-black m-2">
                <h2 class="heading">Our Mission</h1>
                    <div class="sm:hidden m-2">
                        <div class="p-8 bg-[rgb(253,220,128)] rounded-3xl">
                        <Image src={mission} alt="mission" class="rounded-3xl"/>
                        </div>
                    </div>
                <p>The American Chemical Society (ACS) at the University of Houston is a nonprofit organization here to offer an opportunity for students interested in the chemical sciences to acquaint themselves and foster a professional spirit amongst one another. Our mission is to instill professional pride in the chemical sciences and foster an awareness of the responsibilities and challenges of the modern chemist. Most importantly, we employ our resources to promote chemistry to the community at large. We provide insight into graduate programs and various careers relating to the chemical sciences.</p>
        
                <h2 class="heading">Events</h1>
                <p>
                    ACS UH hosts and attends a wide range of volunteering and other  social events throughout the year, including networking, guest speakers,  meetings, and other opportunities to volunteer. If you are interested, click here to see our upcoming events on our agenda.
                </p>
            </div>
        </div>
    </div>
    <div class="m-2">
        <AboutAccordion client:visible/>
    </div>
    <Officer/>
    <img src={svg2.src} alt="svg" class="w-full">

    
</div>
